@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root{

    --corFundo: #d86aff;
    --cor1: #ab3ed8;
    --cor2:#7f00b2;
    --cor3: #650099;
    --cordestaque: #4b0081;

    --fontepadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontdestaque: 'Russo One', sans-serif;

}

*{

    margin: 0px;
    padding: 0px;
}

header{
    margin-right: auto;
    background-color: var(--cor1);
    min-width: 100px;
    max-width: 200px;
    padding: 10px;
}

header > h1{

    font-family: var(--fontdestaque);
    font-style: var(--cordestaque);
    font-size: medium;

    background-color: #7f00b2;

    box-shadow: 0px 0px 05px rgba(0, 0, 0, 0.055);
    border-radius: 10px;

    padding: 10px;
    
}

header > form{
    background-color: var(--cor1); 
    padding: 20px;
    border-radius: 10px;
    margin-right: auto;
    text-align: left;

}
nav{

    background-color: var(--cor1);
    padding: 10px;
    margin-right: auto;
    min-width: 100px;
    max-width: 200px;
    max-height: 1000px;
    min-height: 500px;


}

nav > img{

    max-width: 15px;

}

nav > h1{

    font-family: var(--fontdestaque);
    font-style: var(--cordestaque);
    font-size: medium;

    padding: 10px;
}

nav > a{

    text-decoration: none;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
    line-height: 2em;

}

nav > a:hover{

    background-color: #650099;
}


footer{

    background-color: var(--cor1);
    padding: 10px;
    margin-right: auto;
    min-width: 100px;
    max-width: 200px;
}