@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root{

    --fontepadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontdestaque: 'Russo One', sans-serif;

}

*{
    margin: 0px;
    padding: 0px;

   box-sizing: border-box; 
}

body{

    height: 100vh;
    width: 100vh;

}

html{

    height: 100vh;
    width: 100vh;

    background-color: rgba(128, 128, 128, 0.356);

}

main{
   
    height: 100vh;
    width: 100vh;

}

header{

    min-height: 150px;
    height: 100vh;
    width: 100vh;

}

section#login{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 310px;
    height: 250px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.096);
    background-color: rgba(128, 128, 128, 0.425); 

    padding: 10px;
    border-radius: 20px;

    text-align: center;
}

section#login > div#imagem{

    display: block;
    padding: 10px;

}

section#login > div#formulario{

    display: block;
    padding: 10px;

}

div#formulario > h1{

    margin-bottom: 10px;

    font-family: var(--fontdestaque);
    text-align: center;

}

div#formulario > p{

    font-size: 1.2em;
}

form > div.campo{

    display: block;

    width: 100%;
    height: 40px;

    background-color: #650099;

    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > input{

    width: 100%;
    height: 100%;

    border: 0px;
    border-radius: 8px;
    padding: 4px;

    font-size: 1em;

}

form > input[type=submit] { 

    display: block;

    width: 100%;
    height: 40px;

    background-color: rgba(128, 128, 128, 0.185);
    
    border-radius: 10px;
    cursor: pointer;

    font-family: var(--fontdestaque);
    font-size: 1em;
}

form > input[type=submit]:hover {

    background-color: white;

}

